/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif;
    --accent-font: "PressStart2P", cursive;
    --heading-wght: 700;
    --main-wght: 400;
    --main-font-size: 18px;
    --post-title-size: 18px;
    --button-font-size: 14px;
    --accent-heading-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --accent-subheading-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --accent-heading-transform: uppercase;

    --background-color: #fff;
    --text-color: #000;
    --border-color: #000;
    --border: 2px solid var(--border-color);

    --header-padding: clamp(120px, 10vw, 128px) clamp(14px, 5vw, 120.5px); 
    --header-margin: 100px auto;

    --post-info-padding: 25px;

    --button-like-padding: 7.5px 36px;
    --button-heart-padding: 6px 12px 3px;
    --button-save-padding: 15px 20px;
}