/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif;
    --accent-font: "PressStart2P", cursive;
    --heading-wght: 700;
    --main-wght: 400;
    --main-font-size: 18px;
}